<div class="card" >
    <div class="card-block"  style="margin:10px">
        <div class="container">
          <div class="table-responsive">          
            <table class="table">
              <thead>
                <tr>
                  <th>Verified</th>
                  <th>User Name</th>
                  <th>Email</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users$ | async">
                  <td>
                        <i *ngIf="user.isVerified" class="fa fa-check-square"></i>
                  </td> 
                  <td>{{user.userName}}</td> 
                  <td>{{user.email}}</td>
                  <td><a [routerLink]="['/admin/verify/', user.$key]">View</a></td> 
                </tr> 
              </tbody>
            </table>
            </div>
          </div>
    </div>
</div>